header {
  background-color: rgb(255, 107, 107);
  padding: 20px;
  margin-bottom: 30px;
}

.item {
  display: flex;
  justify-content: space-between;
  background-color: rgb(246, 246, 79);
  margin: 5px 0;
  padding: 5px;
  width: 95%;
  border: 1px solid;
  border-radius: 5px;

}

.alert {
  color: rgb(249, 15, 15);
  text-align: center;
  font-size: 25px;
}

ul {
  list-style: none;
}